extends ./common/html5


block append vars
  - var content = {
  -  main: {
  -    screenshots: [
  -      {
  -        id: "screenshot-of-posts",
  -        name: "Скриншот постов"
  -      },
  -      {
  -        id: "screenshot-of-thread",
  -        name: "Скриншот треда"
  -      }
  -    ],
  -    downloads: [
  -      {
  -        id: "download-images",
  -        name: "Скачать изображения"
  -      },
  -      {
  -        id: "download-video",
  -        name: "Скачать видео"
  -      },
  -      {
  -        id: "download-media",
  -        name: "Скачать медиаконтент"
  -      },
  -      {
  -        id: "download-thread",
  -        name: "Скачать тред"
  -      }
  -    ],
  -    extra: [
  -      {
  -        href: "statistics.html",
  -        name: "Статистика"
  -      },
  -      {
  -        href: "settings.html",
  -        name: "Настройки"
  -      }
  -    ]
  -  }
  -};


block append mixins
  mixin custom-item(object)
    if object.id
      div(class="custom-item" id=object.id)&attributes(attributes)=object.name
    else
      a(class="custom-item" href=object.href target="_blank")&attributes(attributes)=object.name


block append head
  +link("/interface/css/styles/popup.css")
  +script("/interface/js/scripts/popup.js")


block header
  header(class="custom-header custom-border-bottom")
    div(class="custom-header-content custom-content")
      h1="2ch-helper"


block main
  main(class="custom-main" class=version ? "custom-border-bottom" : "")
    div(class="custom-main-content custom-content")
      div(class="custom-options")
        div(class="custom-screenshots custom-options-border-bottom")
          each item in content.main.screenshots
            +custom-item({id: item.id, name: item.name})

        div(class="custom-downloads custom-options-border-bottom")
          each item in content.main.downloads
            +custom-item({id: item.id, name: item.name})

        div(class="custom-extra-options")
          each item in content.main.extra
            +custom-item({href: item.href, name: item.name})


block footer
  if version
    footer(class="custom-footer")
      div(class="custom-footer-content custom-content")
        p(class="custom-version" id="version")=version
